################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCCRUD/v16
/.vs/MVCCRUD/DesignTimeBuild
